# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [4]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

In [5]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv'

### Step 3. Assign it to a variable called drinks.

In [3]:
drinks = pd.read_csv(url,index_col=0)
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,AS
Albania,89,132,54,4.9,EU
Algeria,25,0,14,0.7,AF
Andorra,245,138,312,12.4,EU
Angola,217,57,45,5.9,AF

### Step 4. Which continent drinks more beer on average?

In [18]:
cont = drinks.groupby(['continent']).mean()
cont.loc[:,['beer_servings']]
cont.max()

beer_servings                   193.777778
spirit_servings                 132.555556
wine_servings                   142.222222
total_litres_of_pure_alcohol      8.617778
dtype: float64

### Step 5. For each continent print the statistics for wine consumption.

In [9]:
cont = drinks.groupby(['continent']).mean()
cont.loc[:,['wine_servings']]

           wine_servings
continent
AF             16.264151
AS              9.068182
EU            142.222222
OC             35.625000
SA             62.416667

### Step 6. Print the mean alcoohol consumption per continent for every column

In [21]:
cont_all_med = drinks.groupby(['continent']).mean()
cont_all_med.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

### Step 7. Print the median alcoohol consumption per continent for every column

In [22]:
cont_all_med = drinks.groupby(['continent']).median()
cont_all_med.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [15]:
drinks['spirit_servings'].mean()

80.99481865284974

In [16]:
drinks['spirit_servings'].min()

0

In [17]:
drinks['spirit_servings'].max()

438